@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
a {
  text-decoration: none;
  color: inherit;
}

body.lock {
  overflow: hidden;
}

.header {
  width: 100%;
  position: fixed;
  font-size: 20px;
  background-color: #4D4D4D;
  color: #fff;
  padding: 10px;
  z-index: 100;
}

.header__burger {
  display: block;
  position: relative;
  z-index: 3;
  width: 30px;
  height: 20px;
}

.header__phone {
  position: relative;
  z-index: 3;
}

.header__mail {
  display: none;
}

.header__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  position: fixed;
  overflow: auto;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323c42;
  z-index: 1;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
}

.header__list li {
  margin: 0 0 20px 0;
}

.header__menu.active {
  top: 0;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4D4D4D;
  z-index: 2;
}

.header__burger:before,
.header__burger:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: -15px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger span {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f60;
  left: -15px;
  top: 9px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.inner {
  width: 100%;
  height: 250px;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(10%, rgba(30, 87, 153, 0))), #aaa url("../../images/bg-small.jpg") 30% 20%/auto no-repeat;
  background: -webkit-linear-gradient(bottom, white 0%, rgba(30, 87, 153, 0) 10%), #aaa url("../../images/bg-small.jpg") 30% 20%/auto no-repeat;
  background: -o-linear-gradient(bottom, white 0%, rgba(30, 87, 153, 0) 10%), #aaa url("../../images/bg-small.jpg") 30% 20%/auto no-repeat;
  background: linear-gradient(to top, white 0%, rgba(30, 87, 153, 0) 10%), #aaa url("../../images/bg-small.jpg") 30% 20%/auto no-repeat;
}

.inner__logo {
  position: relative;
  top: 60px;
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 10px #777;
          box-shadow: 0 0 10px #777;
}

@media (min-width: 736px) {
  .header {
    padding: 10px;
  }
  .header__menu a {
    padding: 0 20px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .header__menu a:hover {
    color: #FF7B00;
  }
  .header__mail {
    display: inline;
    position: relative;
    z-index: 3;
  }
  .inner {
    height: 250px;
    background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(10%, rgba(30, 87, 153, 0))), #aaa url("../../images/header-back.jpg") 50% -80px no-repeat;
    background: -webkit-linear-gradient(bottom, white 0%, rgba(30, 87, 153, 0) 10%), #aaa url("../../images/header-back.jpg") 50% -80px no-repeat;
    background: -o-linear-gradient(bottom, white 0%, rgba(30, 87, 153, 0) 10%), #aaa url("../../images/header-back.jpg") 50% -80px no-repeat;
    background: linear-gradient(to top, white 0%, rgba(30, 87, 153, 0) 10%), #aaa url("../../images/header-back.jpg") 50% -80px no-repeat;
  }
  .inner__logo {
    top: 40px;
    margin: 0 auto;
    max-width: 250px;
    max-height: 250px;
  }
}

@media (min-width: 1023px) {
  .header {
    padding: 20px 0 20px 0;
  }
  .header__burger {
    display: none;
  }
  .header__menu {
    position: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    width: auto;
    height: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    overflow: hidden;
  }
  .header__list li {
    margin: 0;
  }
  .header:before {
    display: none;
  }
  .inner {
    height: 300px;
    background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(10%, rgba(30, 87, 153, 0))), #aaa url("../../images/header-back.jpg") 0 40%/cover no-repeat;
    background: -webkit-linear-gradient(bottom, white 0%, rgba(30, 87, 153, 0) 10%), #aaa url("../../images/header-back.jpg") 0 40%/cover no-repeat;
    background: -o-linear-gradient(bottom, white 0%, rgba(30, 87, 153, 0) 10%), #aaa url("../../images/header-back.jpg") 0 40%/cover no-repeat;
    background: linear-gradient(to top, white 0%, rgba(30, 87, 153, 0) 10%), #aaa url("../../images/header-back.jpg") 0 40%/cover no-repeat;
  }
  .inner__logo {
    top: 80px;
  }
}

@media (max-width: 736px) and (orientation: landscape) {
  .inner {
    height: 70%;
  }
  .inner__logo {
    top: 50px;
    max-width: 200px;
  }
}

.footer {
  background-color: #333;
  color: #fff;
}

.footer__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 20px;
}

.footer__item {
  margin: 20px 50px;
}

.footer:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f60;
  position: relative;
  top: -5px;
  left: 0;
}

@media (min-width: 500px) {
  .footer__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__item {
    margin: 20px 20px;
  }
}

@media (min-width: 767px) {
  .footer__item {
    margin: 20px 50px;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #4d4d4d;
}

.container {
  max-width: 300px;
  padding: 0;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 360px) {
  .container {
    max-width: 360px;
    padding: 0;
    margin: 0 auto;
  }
}

@media (min-width: 414px) {
  .container {
    max-width: 410px;
    padding: 0;
    margin: 0 auto;
  }
}

@media (min-width: 540px) {
  .container {
    max-width: 530px;
    padding: 0;
    margin: 0 auto;
  }
}

@media (min-width: 767px) {
  .container {
    max-width: 760px;
    margin: 0 auto;
  }
}

@media (min-width: 1023px) {
  .container {
    max-width: 980px;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.section {
  width: 100%;
}

.section__title {
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 24px;
}

.section__title:after {
  content: "";
  display: inline-block;
  width: 90%;
  height: 2px;
  background-color: #f60;
  text-align: center;
  margin: 30px 0;
}

.section__text {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
  margin: 0 0 30px 0;
}

.section__text-main {
  text-align: left;
  margin: 0 0 20px 0;
}

.section h2 {
  font-size: 20px;
}

.services__title {
  text-align: center;
  font-size: 18px;
  margin: 0 0 30px 0;
  color: #24689F;
}

.services__column:last-child {
  margin-bottom: 20px;
}

.services__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__pict {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.services__pict img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.services__head {
  height: 50px;
  padding: 5px 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #24689F;
  color: #fff;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.services__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #eee;
}

.services__text p {
  padding: 10px;
}

.services__column:hover .services__pict img {
  width: 110%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__column:hover .services__head {
  background-color: #f60;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

@media (min-width: 500px) {
  .services__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[2];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(2, auto)/repeat(2, 1fr);
        grid-template-areas: "pict title" "cont cont";
  }
  .services__head {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    height: 100%;
  }
  .services__pict img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: pict;
    height: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
  }
  .services__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cont;
  }
}

@media (min-width: 767px) {
  .section__title {
    margin: 50px 0 0 0;
  }
  .section__title:after {
    content: "";
    width: 50%;
    height: 2px;
  }
  .services__title {
    margin: 0;
  }
  .services__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__column {
    max-width: 330px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20%;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    border: 1px solid #b3d1eb;
    margin: 20px;
    overflow: hidden;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    min-width: 250px;
    background-color: #eee;
  }
  .services__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__pict {
    height: 100px;
    overflow: hidden;
  }
  .services__pict img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services__head {
    height: 50px;
  }
  .services__text {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    background-color: #eee;
  }
}

@media (min-width: 1023px) {
  .services__column {
    min-width: 400px;
  }
}

@media (min-width: 1177px) {
  .services__pict {
    height: 150px;
    overflow: hidden;
  }
}

.table {
  max-width: 100%;
  overflow-x: auto;
}

table {
  z-index: 10;
  width: 100%;
  font-size: 18px;
  border-collapse: collapse;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #00000025;
          box-shadow: 0 0 10px #00000025;
  margin: 0px 0px 20px 0px;
}

th, td {
  border-style: solid;
  border-width: 1px;
  border-color: #777777;
  padding: 5px 10px;
}

tr:nth-child(2n-1) {
  background: #e4e4e4;
  color: #4d4d4d;
  padding: 10px 20px;
}

tr:first-child {
  background: #ffffff;
  color: #4d4d4d;
  padding: 10px 20px;
}

td:first-child {
  padding: 5px 0px 5px 20px;
  text-align: left;
}

th {
  padding: 5px;
}

tr:hover {
  background: #49bcff33;
}

.notice {
  text-align: left;
  color: #f60;
}

caption {
  text-align: left;
  margin: 0px 0px 10px 0px;
  color: #24689F;
}

.differences {
  padding: 20px;
}

.differences h3 {
  font-size: 18px;
  position: relative;
  padding: 5px;
}

.differences h3:after {
  content: "";
  left: 0px;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#477ab4), color-stop(60%, rgba(24, 181, 164, 0)));
  background-image: -webkit-linear-gradient(left, #477ab4 0%, rgba(24, 181, 164, 0) 60%);
  background-image: -o-linear-gradient(left, #477ab4 0%, rgba(24, 181, 164, 0) 60%);
  background-image: linear-gradient(to right, #477ab4 0%, rgba(24, 181, 164, 0) 60%);
}

.differences p {
  padding-left: 20px;
  margin: 10px 0;
}

.example {
  color: #0050b8;
  font-weight: 700;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 16, 24, 0.705);
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .1s linear 0s;
  -o-transition: all .1s linear 0s;
  transition: all .1s linear 0s;
}

.popup__area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  opacity: 0;
  -webkit-transform: translate(-100%, 0) scale(0);
      -ms-transform: translate(-100%, 0) scale(0);
          transform: translate(-100%, 0) scale(0);
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.popup__title {
  font-size: 20px;
  margin: 0 0 1em 0;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(0px, 0px) scale(100%);
      -ms-transform: translate(0px, 0px) scale(100%);
          transform: translate(0px, 0px) scale(100%);
}
